body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: aquamarine;
    padding: 25px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    margin: right 25px;
}

nav ul li {
    color: black;
    text-decoration: none;
}

section {
    padding: 25px;
}

frooter {
    background-color: black;
    color: black;
    text-align: center;
    padding: 25px 0;
}